<div class="block-card-to-choose">
    <div *ngFor="let card of cards" class="card-unitary" (click)="addCardToMyGame(card.id)" >
        <div class="card-name" >
            {{card.name}}
        </div>
        <div class="card-skill" >
            <div class="card-image"></div>
            <div style="margin:13px;">{{card.skills}}</div>           
        </div>
        <div class="card-point">

            <div class="card-atk">  {{card.atk}} </div>
            <div class="card-pv">   {{card.pv}}   </div>
        </div>
    </div>
</div>


<div div class="block-card-choosen">
    <div *ngFor="let card of myCards" class="card-unitary" >
        <div class="card-name" >
            {{card.name}}
        </div>
        <div class="card-skill" >
            <div class="card-image"></div>
            <div style="margin:13px;">{{card.skills}}</div>           
        </div>
        <div class="card-point">

            <div class="card-atk">  {{card.atk}} </div>
            <div class="card-pv">   {{card.pv}}   </div>
        </div>
    </div>
</div>

<div class="coins-indicador">
    My Coin(s) : {{this.gameRules!.getCoins()}} - <button (click)="refresh()"> Refresh</button>
</div>
